.compare {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
.compare h1 {
  padding: 1rem;
  font-family: "Lora", serif;
}
.compare-btn button {
  padding: 11px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background: rgb(57, 7, 104);
  border-radius: 10px;
  transition: all 0.5 ease;
}
.compare-btn button:hover {
  background: rgb(76, 15, 133);
}
.budget {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.message p {
  font-size: 1.3rem;
  font-weight: 500;
  color: green;
}
.compare-city {
  width: 40rem;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
