.compare {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
.compare h1 {
  padding: 1rem;
}
.compare-btn button {
  padding: 11px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background: rgb(57, 7, 104);
  border-radius: 10px;
  transition: all 0.5 ease;
}
.compare-btn button:hover {
  background: rgb(76, 15, 133);
}
