table,
th,
td {
  border: 1px solid black;
}
table {
  width: 24rem;
  text-align: center;
}
.Cost-table {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Total-cost {
  margin-top: 0.5rem;
}
.cityName {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cityName-details {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 6rem;
}
.cityName-details p {
  padding: 2px;
  font-weight: 500;
}
.Budget-btn {
  text-align: center;
  margin-top: 4rem;
}
.Budget-btn button {
  padding: 11px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background: rgb(57, 7, 104);
  border-radius: 10px;
  transition: all 0.5 ease;
}
.Budget-btn button:hover {
  background: rgb(76, 15, 133);
}
