.MyCity {
  width: 15rem;
  background-size: 100% 100%;
  height: 10rem;
  position: relative;
  cursor: pointer;
  box-shadow: 6px 0px 8px black;
}
.MyCity img {
  width: 100%;
  height: 100%;
  filter: brightness(79%);
  transition: all 0.5s ease;
}
.MyCity img:hover {
  filter: brightness(50%);
}
.MyCity p {
  position: absolute;
  top: 10px;
  left: 12px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
